<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

	<mapping class="com.dreamchain.skeleton.model.User" />

	<!--<event type="pre-update">-->
		<!--<listener class="org.hibernate.validator.event.ValidatePreUpdateEventListener"/>-->
	<!--</event>-->
	<!---->
	<!--<event type="pre-insert">-->
		<!--<listener class="org.hibernate.validator.event.ValidatePreInsertEventListener"/>-->
	<!--</event>-->

	</session-factory>
</hibernate-configuration>